<div class="main_div">
    <div class="student_container">
        <a href="#!/student-Login"> <img class='student_icon' src="../static/student.png" alt="student pic"></a>
        <div class='t_name'>Student</div>
    </div>
    <div class="teacher_container">
        <a href="#!/teacher-Login"> <img class='teacher_icon' src="../static/teacher.png" alt="teacher pic"></a>
        <div class='t_name'>Teacher</div>
    </div>

    <div class="admin_container">
        <a href="#!/admin-login"> <img class='admin_icon' src="../static/admin.jpg" alt="admin pic"></a>
        <div class='t_name'>Admin</div>
    </div>
</div>