<div class='createQuiz'>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#!/teacher-dashboard" class="navbar-brand">MarkUp</a>
      </div>

      <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">
        <ul class="nav navbar-nav">
          <li ><a href="#!/viewQuiz">View Quiz </a>
          </li>
          <li><a href="#">Analytic</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <button class="btn btn-danger myBtn" ng-click='teacherlogoutFn()'>
              LogOut
            </button>

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid completeQuiz">

  <div class='container createQuizContainer'>
    <br>
    <br>
    <button class='btn btn-success' ng-click="showQuizHeadingDetails()">
      Create Quiz <i class="fas fa-plus-circle"></i></button>


    <div ng-if="quizStart">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">QUIZ</h3>
      </div>
      <div class="modal-body" id="modal-body">

        <div class="form-group">
          <label for="quizName" class="col-md-2 control-label quizHeadingDetails">Quiz Name:</label>
          <div class="col-md-8" >
            <input type="text" ng-model="quizName" class="form-control quizHeadingDetails" />
          </div>
        </div>

        <br><br>
        <div class='time'>
          <div class="form-group col-md-6">
            <label for="marks" class="col-md-4 control-label quizHeadingDetails">Total Marks: </label>
            <div class="col-md-7">
              <input type="number" value="" ng-model="totalMarks" class="form-control" />
            </div>
          </div>
          <br><br>
         
          <div class="form-group col-md-6">
            <label for="time" class="col-md-5 control-label quizHeadingDetails">Unqiue Code:</label>
            <div class="col-md-7">
              <input type="text" ng-model="UnqiueCode" value="" class="form-control" />
            </div>
          </div>
        </div>
        <br>

        <div class='time'>
          <div class="form-group col-md-6">
            <label for="marks" class="col-md-4 control-label quizHeadingDetails">Starting Timing: </label>
            <div class="col-md-7">
              <div uib-timepicker ng-model="Stime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </div>
          </div>
          <br>
         
          <div class="form-group col-md-6">
            <label for="time" class="col-md-4 control-label quizHeadingDetails">End Timing:</label>
            <div class="col-md-7">
              <div uib-timepicker ng-model="Etime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </div>
          </div>
        </div>

       



      </div>






      <div class="modal-footer">
        <button class="btn btn-primary" type="button"
          ng-click="showSection(quizName,totalMarks,Stime,Etime,UnqiueCode)">Next</button>
      </div>
    </div>


    <div class='main' ng-if="sectionShow">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title" contenteditable="true">SECTION</h3>
      </div>
      <div class="modal-body" id="modal-body">

        <div class="form-group">
          <!-- <label for="quizName" class="col-md-2 control-label quizHeadingDetails"> Write question</label> -->

          <div class="col-md-12">
            <textarea placeholder="Write Question Here" type="text"  class="form-control v1 quizHeadingDetails"
              ng-model="question" value="qu"></textarea>
          </div>
        </div>
        <br>
        <div class="form-group">

          <div class="col-md-12">
            <input type="text" class="form-control v2" placeholder="Option 1" ng-model='opt1'>
          </div>
        </div>
        <br>
        <div class="form-group">

          <div class="col-md-12">
            <input type="text" class="form-control v3" placeholder="Option 2" ng-model='opt2'>
          </div>
        </div>
        <br>
        <div class="form-group">

          <div class="col-md-12">
            <input type="text" class="form-control v4" placeholder="Option 3" ng-model='opt3'>
          </div>
        </div>
        <br>
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" class="form-control v5" placeholder="Option 4" ng-model='opt4'>
          </div>
        </div>

        <br>
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" class="form-control v6" placeholder="Correct Answer"  ng-model='corrAns'>
          </div>
        </div>

        <br>
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" class="form-control v7" placeholder="Time" ng-model='quesTime'>
          </div>
        </div>
        <br><br><br><br>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button"
          ng-click="createQuiz(question,opt1,opt2,opt3,opt4,corrAns,quesTime)">Add</button>
        <button class="btn btn-primary" type="button"
          ng-click="lock(question,opt1,opt2,opt3,opt4,corrAns,quesTime)">Lock</button>
      </div>

    </div>


  </div>




  <hr noshade="black">
  <center>
    <button ng-if="sectionShow2" class='btn btn-success' ng-click="submitQuiz()">
      Create
    </button>
  </center>

</div>
</div>