<div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#!/teacher-dashboard" class="navbar-brand">MarkUp</a>
      </div>

      <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#!/viewQuiz">View Quiz <span class="sr-only">(current)</span></a>
          </li>
          <li><a href="#">Analytic</a>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button class="btn btn-danger myBtn" ng-click='teacherlogoutFn()'>
              LogOut
            </button>
           
          </li>
        </ul>
      </div>
    </div>
  </nav>



<center><h1>Quiz</h1></center>


<div class="container card">
<center><h3>Quiz Name</h3></center>
<center><p>Code</p></center>
<div class='quizDetailsContainer'> 
  <div>Start time</div>
  <div>End time</div>
  <div>total marks</div>
</div>
<br>
<div class='quizDetailsContainer2'> 
  <button class='btn btn-success'><i class="fas fa-edit"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class='btn btn-danger'><i class="fas fa-trash-alt"></i></button>
</div>



</div>


</div>


