<div class='createQuiz'>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#!/student-dashboard" class="navbar-brand">MarkUp</a>
        </div>
  
        <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#!/">Result <span class="sr-only">(current)</span></a>
            </li>
           
          </ul>
  
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button class="btn btn-danger myBtn" ng-click="studentlogoutFn()">
                LogOut
              </button>
  
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
 
  <marquee>Don't try to cheat</marquee>

  <div class="codeContainer">
      Code: 
      <input type=text placeholder="Unique quiz code" ng-model="code">
      <button class='btn btn-success squizbtn' ng-click="quiz(code)">Submit</button>
  </div>
 
  
<div class="showQuizContainer">

  
</div>
 
  
  
  </div>